@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

a { text-decoration: none; color:black;}
a:hover {color:black;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100%;
}

#container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

#cart {
  cursor: pointer;
  padding: 10px;
  position: relative;
  opacity: 0.5;
  width: 50px;
  height: 50px;
}

#cart:hover {
  box-shadow: 0px 0px 10px hsl(26, 100%, 55%);
  border-radius:50%;
  width:50px;
  height:50px;
  object-fit: cover;
}

#nav__bar {
  position: relative;
  padding: 30px 10px 35px 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  /* outline: 2px solid black; */
}

#navigation__options {
  display: none;
}

#info {
  margin: auto;
  margin-top: 10px;
  width: 90%;
}

#sneaker__company {
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  margin-bottom: 10px;
}

#sneaker__title {
  width: 80%;
  font-size: 24px;
  font-weight: 700;
}

#sneaker__description {
  margin: 10px 0;
  color: grey;
  font-size: 14px;
}

#pricing {
  display: flex;
  align-items: center;
}


#previous__price {
  color: lightgrey;
}

#amount__to__cart {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

#amount__section {
  width: clamp(90%, 375px, 90%);
  margin: 10px auto;
  display: flex;
  height: 60px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}

#add__to__cart {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  border: none;
  width: 150px;
  height: 60px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
#add__to__cart:hover {
  box-shadow: 0px 28px 28px -20px rgba(255, 121, 26, 1);
}

@media (min-width: 1000px) {
  #container {
    max-width: 1440px;
    padding: 0rem 10rem; /*0 sur ob mais 10 sur gd petit*/
  }

  #nav__bar {
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #navigation__options {
    display: flex;
    margin-right: auto;
    list-style: none;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    height: inherit;
  }

  .navigation__single__option:hover {
    border-bottom: 4px solid hsl(26, 100%, 55%);
  }
  .navigation__single__option {
    height: 100%;
    line-height: 80px;
  }

  #info {
    padding: 0rem 4rem;
    min-height: 70%;
    height: fit-content;
    bottom : 20px;
  }

  /* info media */
  #sneaker__company {
    font-size: 14px;
  }

  #sneaker__title {
    width: 700px;
    position:relative;
    top:9vh;
    left:0%;
    font-size: 40px;
    font-weight: 900;
  }

  #sneaker__description {
    position:relative;
    top:0vh;
    width:500px;
    left:17%;
    color: rgb(117, 110, 110);
    font-size: 16px;
  }

  #pricing {
    position:relative;
    top:17vh;
    width:300px;
    left:-58%;
    font-size: 28px;
    font-weight: 900;
  }

  #previous__price {
    position:relative;
    top:5vh;
    left:21%;
    font-size: 20px;
    width:250px;
  }

  #amount__to__cart {
    padding: 0rem 3rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  #add__to__cart {
    top:20px;
    width: 300px;
    height: 50px;
    margin-bottom:50px;
  }
  #add__to__cart:hover {
    box-shadow: 0px 28px 28px -20px rgba(255, 121, 26, 1);
  }
} ;