<!doctype html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <title>Jarnine</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
   </head>
   <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <body>
         <main id="container">
            <nav id="nav__bar">
               <ul id="navigation__options">
                  <li><strong style="font-size:36px;">Jarnine</strong></li>
                  <li class="navigation__single__option"><a href="/">Listing</a></li>
                  <li class="navigation__single__option"><a href="/docs" style="">Docs</a></li>
                  
               </ul>
               <div id="cart__container">
                  <div id="cart__amount"></div>
                  <img src="{{ url_for('static', filename='icon-add.png') }}" alt="Ajouter" id="cart" data-bs-toggle="modal" data-bs-target="#add" />
               </div>
            </nav>
         </main>
            <div class="modal fade" id="add" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="addModal">Inscription de l'offre d'achat</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <form method="post" action="/creer">
                           <div class="mb-3">
                              Adresse complète <input type="text" class="form-control" name="adresse" placeholder="134 rue Main..."  required>
                           </div>
                           <div class="mb-3">
                              Nombre en chiffre de logement du bâtiment
                              <input type="number" class="form-control" name="logement" required>
                           </div>
                           <div class="mb-3">
                              Nom et prénom ou le nom et prénom de la personne que vous représenter
                              <input type="text" class="form-control" name="representant" required>
                           </div>
                           <div class="mb-3">
                              Numéro de contact sous le format fourni
                              <input type="number" class="form-control" maxlength="11" name="telephone" placeholder="123456789" value="">
                           </div>
                           <div class="mb-3">
                              Courriel de contact
                              <input type="text" class="form-control" name="courriel" required>
                           </div>
                           <!---->
                           <div class="mb-3">Brève description de l'immeuble
                              <input type="text" class="form-control" name="description" value="">
                           </div>
                           <div class="mb-3">Superficie en m2
                              <input type="number" class="form-control" name="superficie" required>
                           </div>
                           <div class="mb-3">Prix à payer pour l'immeuble
                              <input type="number" class="form-control" name="paye" required>
                           </div>
                           <div class="mb-3">Numéro de cadastre
                              <input type="number" maxlength="11"class="form-control" name="cadastre" required>
                           </div>
                           <div class="mb-3">Évaluation du terrain
                              <input type="number" class="form-control" name="terrain" required>
                           </div>
                           <!---->
                           <div class="mb-3">Année de son évaluation
                              <input type="number" class="form-control" name="anneet" value="">
                           </div>
                           <div class="mb-3">Évaluation du bâtiment
                              <input type="number" class="form-control" name="batiment" required>
                           </div>
                           <div class="mb-3">
                              Année de son évaluation
                              <input type="number" class="form-control" name="anneeb" value="">
                           </div>
                           <div class="mb-3">Informations concernant les réparations
                              <input type="text" class="form-control" name="reparation" value="">
                           </div>
                           <div class="mb-3">Informations concernant la construction
                              <input type="text" class="form-control" name="construction" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Année de construction
                              <input type="number" class="form-control" name="anneec" required>
                           </div>
                           <div class="mb-3">Information concernant la fondation
                              <input type="text" class="form-control" name="fondation" placeholder="béton..." required>
                           </div>
                           <div class="mb-3">
                              Catégorie
                              <input type="text" class="form-control" name="categorie" placeholder="triplex..." required>
                           </div>
                           <div class="mb-3">Nombre d'étage
                              <input type="number" class="form-control" name="etage" required>
                           </div>
                           <hr>
                           <h4>Entrées optionnelles</h4>
                           <div class="mb-3">Informations concernations le chauffage
                              <input type="text" class="form-control" name="chauffage" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Informations concernant l'hydroélectricité
                              <input type="text" class="form-control" name="eau" value="">
                           </div>
                           <div class="mb-3">Information concernant l'électricité
                              <input type="text" class="form-control" name="electrique" value="">    
                           </div>
                           <div class="mb-3">
                              Information concernant la plomberie
                              <input type="text" class="form-control" name="plomberie" value="">
                           </div>
                           <div class="mb-3">Information concernant le toit
                              <input type="text" class="form-control" name="toit" value="">    
                           </div>
                           <div class="mb-3">
                              Information concernant le balcon
                              <input type="text" class="form-control" name="balcon" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Informations concernant les/la salle de bain
                              <input type="text" class="form-control" name="bathroom" value="">
                           </div>
                           <div class="mb-3">Information concernant les fenêtres
                              <input type="text" class="form-control" name="fenetre" value="">    
                           </div>
                           <div class="mb-3">
                              Information concernant le sous-sol
                              <input type="text" class="form-control" name="soussol" value="">
                              <hr>
                              <h4>Information importante</h4>
                           </div>
                           <div class="mb-3">Information sur les termes de paiement
                              <input type="text" class="form-control" name="creancier" required>    
                           </div>
                           <div class="mb-3">
                              Balance de vente s'il y a lieu
                              <input type="text" class="form-control" name="balcon" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Intérêt minimum s'il y a lieu
                              <input type="number" step="0.01" class="form-control" name="interet" value="">
                           </div>
                           <div class="mb-3">Revenu actuel annuel
                              <input type="number" class="form-control" name="revenu" required>    
                           </div>
                           <div class="mb-3">
                              Taxes municipales
                              <input type="number" class="form-control" name="tmunicipal" required>
                           </div>
                           <div class="mb-3">Taxes scolaires
                              <input type="number" class="form-control" name="tscolaire" required>    
                           </div>
                           <div class="mb-3">
                              Revenu potentiel
                              <input type="number" class="form-control" name="potentiel" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Justification
                              <input type="text" class="form-control" name="justif" required>    
                           </div>
                           <div class="mb-3">
                              Prix de l'offre d'achat à vendre
                              <input type="number" class="form-control" name="prix" required>
                           </div>
                          <div class="mb-3">
                              Secret
                              <input type="text" class="form-control" name="secret" required>
                           </div>
                           <div class="mb-3 form-check">
                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                              <label class="form-check-label" for="invalidCheck">
                              Accepter les <a href="#">termes et conditions</a>.
                              </label>
                              <div class="invalid-feedback">
                                 Vous devez accepter les termes avant de publier votre annonce.
                              </div>
                           </div>
                           <button type="submit" class="btn btn-primary">Publier</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         <main>
           <style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
</style>

<button class="tablink" onclick="openPage('Home', this, 'red')">Introduction</button>
<button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">Contact</button>
<button class="tablink" onclick="openPage('Contact', this, 'blue')">Suppression</button>
<button class="tablink" onclick="openPage('About', this, 'orange')">Crédit</button>

<div id="Home" class="tabcontent">
  <h3>Introduction</h3>
  <strong><p style="font-size:18px;">Créer</p></strong>
  <p>Pour créer une publication. Allez sur l'icône Plus en haut à droite. Cliquez dessus et un formulaire appraîtera. Remplissez les espaces obligatoires. Essayez de remplir le formulaire avec le plus d'informations possibles. Pour toutes questions référez-vous à l'onglet Contact.</p>
  <strong><p style="font-size:18px;">Listing</p></strong>
  <p>Le Listing liste toutes les annonces vérifiées. Pour accéder à la fiche de l'annonce, juste cliquer sur l'adresse qui fait fi de titre. S'il manque des informations, contacter le vendeur pour en savoir davantage. Les deux boutons redirigent directement au téléphone ou au courriel du représentant de la vente. Le prix pâle est le prix du bâtiment à acheter. Le prix en gras est le prix de la PA à vendre.</p>
  <strong><p style="font-size:18px;">Contact</p></strong>
  <p>Informations relatives aux sources utilisées, aux termes et conditions et à la licence utilisée sur ce site.</p>
  <strong><p style="font-size:18px;">Supression</p></strong>
  <p>La suppression se fait à l'aide du Secret entré pour identifier votre annonce. Le secret doit être unique et assez difficile pour ne pas être trouvé. Autrement, la publication sera supprimé. Il est de votre responsabilité d'inscrire des données véridiques. Les annonces inactives de plus de deux ans seront effacées.</p>
  <strong><p style="font-size:18px;">Recherche</p></strong>
  <p>Les recherches ne se font que par adresse, donc par titre.</p>
</div>

<div id="News" class="tabcontent">
  <h3>Contact</h3>
  <p>Bonjour, bienvenue sur Jarnine. Jarnine sert à recenser les promesses d'achat à vendre. Le marché est fleurissant. Le projet est à but non lucratif. Cependant, ce projet est sous <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">license</a>. L'utilisation des informations fournies sont destinées à l'usage de ce site. Pour toutes modifications sur les données inscrites, veuillez vous référer à l'encadré plus bas. Si c'est pour modifier une annonce, veuillez préciser votre Secret qui identifie votre annonce, votre nom et prénom, les entrées à modifier et les nouvelles données. Le formulaire fait aussi office de réponse aux plaintes. Si des erreurs surviennent, soyez gré d'en informer par ce formulaire.</p><br>
  <p>Formulaire de contact</p> 
  <div class="card" style="width: 500px;">
  <div class="card-body">
    <form method="post" action="/contact" enctype="multipart/form-data">
      
      <div class="col-md-12" style="color:black;">Question
  <textarea class="form-control" type="text" rows="10" name="qst" required></textarea>
</div>
      <div class="mt-3">
            <button class="btn btn-primary" type="submit">Envoyer</button></div>
    </form>
  </div>
    </div>
</div>

<div id="Contact" class="tabcontent">
  <h3>Supression</h3>
  <p>Supprimez votre offre d'achat par cet encadré.</p> 
  <div class="card" style="width: 500px;">
  <div class="card-body">
    <form method="post" action="/supprimer" enctype="multipart/form-data">
      
      <div class="col-md-12" style="color:black;">Secret
  <input class="form-control" type="text" name="secretsuppr" required>
</div>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="text-info">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <div class="mt-3">
            <button class="btn btn-primary" type="submit">Supprimer</button></div>
    </form>
  </div>
    </div>
</div>

<div id="About" class="tabcontent">
  <h3>Crédit</h3>
  <p><a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_full_page_tabs">https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_full_page_tabs</a></p>
  <p><a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">https://getbootstrap.com/docs/5.1/getting-started/introduction/</a></p>
  <p><a href="https://www.frontendmentor.io/challenges/ecommerce-product-page-UPsZ9MJp6">https://www.frontendmentor.io/challenges/ecommerce-product-page-UPsZ9MJp6</a></p>
  <p><a href="https://docs.python.org/3/library/sqlite3.html">https://docs.python.org/3/library/sqlite3.html</a></p>
  <p><a href="https://www.w3schools.com/howto/howto_js_filter_lists.asp">https://www.w3schools.com/howto/howto_js_filter_lists.asp</a></p>
  
</div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
         </main>
      <footer style='position: fixed;left: 0;bottom: 0;width: 100%;text-align:center;'>
  <button id="q" target="popup"
    onclick="window.open('https://github.com/thabe03'); return false;"
    class="btn btn-link text-primary btn-lg text-decoration-none">Thalia B</button>
  <p> &copy; 2022</p>
</footer></body></html>