<!doctype html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <title>Jarnine</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
   </head>
   <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <body>
         <main id="container">
            <nav id="nav__bar">
               <ul id="navigation__options">
                  <li><strong style="font-size:36px;">Jarnine</strong></li>
                  <li class="navigation__single__option"><a href="/">Listing</a></li>
                  <li class="navigation__single__option"><a href="/docs" style="">Docs</a></li>
                  
               </ul>
               <div id="cart__container">
                  <div id="cart__amount"></div>
                  <img src="{{ url_for('static', filename='icon-add.png') }}" alt="Ajouter" id="cart" data-bs-toggle="modal" data-bs-target="#add" />
               </div>
            </nav>
         </main>
            <div class="modal fade" id="add" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="addModal">Inscription de l'offre d'achat</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <form method="post" action="/creer">
                           <div class="mb-3">
                              Adresse complète <input type="text" class="form-control" name="adresse" placeholder="134 rue Main..."  required>
                           </div>
                           <div class="mb-3">
                              Nombre en chiffre de logement du bâtiment
                              <input type="number" class="form-control" name="logement" required>
                           </div>
                           <div class="mb-3">
                              Nom et prénom ou le nom et prénom de la personne que vous représenter
                              <input type="text" class="form-control" name="representant" required>
                           </div>
                           <div class="mb-3">
                              Numéro de contact sous le format fourni
                              <input type="number" class="form-control" maxlength="11" name="telephone" placeholder="123456789" value="">
                           </div>
                           <div class="mb-3">
                              Courriel de contact
                              <input type="text" class="form-control" name="courriel" required>
                           </div>
                           <!---->
                           <div class="mb-3">Brève description de l'immeuble
                              <input type="text" class="form-control" name="description" value="">
                           </div>
                           <div class="mb-3">Superficie en m2
                              <input type="number" class="form-control" name="superficie" required>
                           </div>
                           <div class="mb-3">Prix à payer pour l'immeuble
                              <input type="number" class="form-control" name="paye" required>
                           </div>
                           <div class="mb-3">Numéro de cadastre
                              <input type="number" maxlength="11"class="form-control" name="cadastre" required>
                           </div>
                           <div class="mb-3">Évaluation du terrain
                              <input type="number" class="form-control" name="terrain" required>
                           </div>
                           <!---->
                           <div class="mb-3">Année de son évaluation
                              <input type="number" class="form-control" name="anneet" value="">
                           </div>
                           <div class="mb-3">Évaluation du bâtiment
                              <input type="number" class="form-control" name="batiment" required>
                           </div>
                           <div class="mb-3">
                              Année de son évaluation
                              <input type="number" class="form-control" name="anneeb" value="">
                           </div>
                           <div class="mb-3">Informations concernant les réparations
                              <input type="text" class="form-control" name="reparation" value="">
                           </div>
                           <div class="mb-3">Informations concernant la construction
                              <input type="text" class="form-control" name="construction" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Année de construction
                              <input type="number" class="form-control" name="anneec" required>
                           </div>
                           <div class="mb-3">Information concernant la fondation
                              <input type="text" class="form-control" name="fondation" placeholder="béton..." required>
                           </div>
                           <div class="mb-3">
                              Catégorie
                              <input type="text" class="form-control" name="categorie" placeholder="triplex..." required>
                           </div>
                           <div class="mb-3">Nombre d'étage
                              <input type="number" class="form-control" name="etage" required>
                           </div>
                           <hr>
                           <h4>Entrées optionnelles</h4>
                           <div class="mb-3">Informations concernations le chauffage
                              <input type="text" class="form-control" name="chauffage" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Informations concernant l'hydroélectricité
                              <input type="text" class="form-control" name="eau" value="">
                           </div>
                           <div class="mb-3">Information concernant l'électricité
                              <input type="text" class="form-control" name="electrique" value="">    
                           </div>
                           <div class="mb-3">
                              Information concernant la plomberie
                              <input type="text" class="form-control" name="plomberie" value="">
                           </div>
                           <div class="mb-3">Information concernant le toit
                              <input type="text" class="form-control" name="toit" value="">    
                           </div>
                           <div class="mb-3">
                              Information concernant le balcon
                              <input type="text" class="form-control" name="balcon" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Informations concernant les/la salle de bain
                              <input type="text" class="form-control" name="bathroom" value="">
                           </div>
                           <div class="mb-3">Information concernant les fenêtres
                              <input type="text" class="form-control" name="fenetre" value="">    
                           </div>
                           <div class="mb-3">
                              Information concernant le sous-sol
                              <input type="text" class="form-control" name="soussol" value="">
                              <hr>
                              <h4>Information importante</h4>
                           </div>
                           <div class="mb-3">Information sur les termes de paiement
                              <input type="text" class="form-control" name="creancier" required>    
                           </div>
                           <div class="mb-3">
                              Balance de vente s'il y a lieu
                              <input type="text" class="form-control" name="balcon" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Intérêt minimum s'il y a lieu
                              <input type="number" step="0.01" class="form-control" name="interet" value="">
                           </div>
                           <div class="mb-3">Revenu actuel annuel
                              <input type="number" class="form-control" name="revenu" required>    
                           </div>
                           <div class="mb-3">
                              Taxes municipales
                              <input type="number" class="form-control" name="tmunicipal" required>
                           </div>
                           <div class="mb-3">Taxes scolaires
                              <input type="number" class="form-control" name="tscolaire" required>    
                           </div>
                           <div class="mb-3">
                              Revenu potentiel
                              <input type="number" class="form-control" name="potentiel" value="">
                           </div>
                           <!---->
                           <div class="mb-3">Justification
                              <input type="text" class="form-control" name="justif" required>    
                           </div>
                           <div class="mb-3">
                              Prix de l'offre d'achat à vendre
                              <input type="number" class="form-control" name="prix" required>
                           </div>
                          <div class="mb-3">
                              Secret
                              <input type="text" class="form-control" name="secret" required>
                           </div>
                           <div class="mb-3 form-check">
                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                              <label class="form-check-label" for="invalidCheck">
                              Accepter les <a href="/docs">termes et conditions</a>.
                              </label>
                              <div class="invalid-feedback">
                                 Vous devez accepter les termes avant de publier votre annonce.
                              </div>
                           </div>
                           <button type="submit" class="btn btn-primary">Publier</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light static">
  <div class="container-fluid">
      <form class="d-flex" style="width:100%;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="myInput" onkeyup="myFunction()">
      </form>
  </div>
</nav>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("h5")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
          for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("p")[2];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
        }
    }
  
}
</script>
         {% for element in infos %}
         <main id="container"><ul id="myUL"><li style="list-style:none;">
            <div class="modal fade" id="exampleModal{{element[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel{{element[0]}}" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{element[0]}}">{{element[1]}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        Numéro de cadastre : {{element[9]}}<br>
                        Prix du terrain : {{element[10]}} $<br>
                        Année de fixation du prix : {{element[11]}}<br>
                        Prix du bâtiment : {{element[12]}} $<br>
                        Année de fixation du prix : {{element[13]}}<br>
                        Réparation à faire : {{element[14]}}<br>
                        Construction : {{element[15]}}<br>
                        Année de construction : {{element[16]}}<br>
                        Fondation : {{element[17]}}<hr>
                        <strong>Informations supplémentaires :</strong><br>
                        Chauffage : {{element[20]}}<br>
                        Eau : {{element[21]}}<br>
                        Électricité : {{element[22]}}<br>
                        Plomberie : {{element[23]}}<br>Toît : {{element[24]}}<br>
                        Balcon : {{element[25]}}<br>
                        Salle de bain : {{element[26]}}<br>
                        Fenêtre : {{element[27]}}<br>
                        Sous-sol : {{element[28]}}<hr>
                        <strong>Termes de la promesse d'achat :</strong><br>
                        Le créancier : {{element[29]}}<br>
                        Balance de vente : {{element[30]}}<br>
                        Intérêt : {{element[31]}} % au moins<br>
                        Revenu : {{element[32]}} $ annuellement<br>
                        Taxes municipales : {{element[33]}} $<br>
                        Taxes scolaires : {{element[34]}} $<br>
                        Potentiel : {{element[35]}} $ annuellement<br>
                        Justification : {{element[36]}}<br>
                     </div>
                  </div>
               </div>
            </div>
            <div id="info">
               
            
               
              <section id="amount__to__cart">
                  <p id="sneaker__company">JARNINE</p>
               <p id="sneaker__title" data-bs-toggle="modal" data-bs-target="#exampleModal{{element[0]}}">{{element[1]}}</p>
                  
                  <p id="sneaker__description">Catégorie : {{element[18]}}<br>
                  Nombre de logement : {{element[2]}}<br>Nombre d'étage : {{element[19]}}<br>Représentant à contacter : {{element[3]}}<br>Description : {{element[6]}}<br>Superficie : {{element[7]}} m2<br>
               </p>&nbsp;
                <div id="pricing">
                 <p id="price">{{element[35]}} $</p>
               </div>
               <p id="previous__price">{{element[8]}} $</p>
               </section>
               <section id="amount__to__cart">
                  <button id="add__to__cart" onclick="window.open('tel:{{element[4]}}');">Contacter par téléphone</button>&nbsp;
                  <button id="add__to__cart" onclick="window.open('mailto:{{element[5]}}');"'">Contacter par email</button>
               </section>
            </div></li></ul>
         </main>
         {% endfor %}
        <footer style='position: fixed;left: 0;bottom: 0;width: 100%;text-align:center;'>
  <button id="q" target="popup"
    onclick="window.open('https://github.com/thabe03'); return false;"
    class="btn btn-link text-primary btn-lg text-decoration-none">Thalia B</button>
  <p> &copy; 2022</p>
</footer>
   </body>
</html>